.heading {
    font-size: 3rem;
    font-weight: 43.75rem;
    color: rgba(255, 255, 255, 0.92);
}

.wave {
    animation: wave-animation 2.1s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.default {
    font-size: 2rem;
    font-weight: 50rem;
    color: rgba(255, 255, 255, 0.92);
}

/* Button Hover */
.btn {
    position: relative;
    display: inline-flex;
    padding: 0.625rem 1.875rem;
    background: transparent;
    border-radius: 0.45rem;
    border: 2px solid var(--color-text);
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.125rem;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #2196f3;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 6.25rem;
    height: 6.25rem;
}

.gpt3__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 51rem;
    font-size: 3.875rem;
    line-height: 4.688rem;
    letter-spacing: -0.04em;
}

.gpt3__header-content p {
    font-family: var(--font-family);
    font-weight: 25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.gpt3__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    transform: scale(9);
    box-shadow: 0px 0px 2px 5px rgb(0 0 8 / 25%);
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }
}