/* Grid system */
.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "About-Me About-Me About-Me languages languages languages"
      "About-Me About-Me About-Me languages languages languages"
      "About-Me About-Me About-Me languages languages languages"
      "Technology- Technology- Technology- Technology- Technology- Technology-"
      "Technology- Technology- Technology- Technology- Technology- Technology-"
      "s_languages s_languages s_languages s_languages s_languages s_languages"
      "s_languages s_languages s_languages s_languages s_languages s_languages";
    
    grid-column-gap: 2rem;
    /* grid-row-gap: 2rem; */

    width: 100%;
    height: 100%;
    padding: 2rem 6rem 0 6rem;
}
  
.About-Me { 
    grid-area: About-Me;
    background-color: #252a33;
    /* background-color: rgba(255,255,255,0.15); */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    height: 80%;
    width: 100%;
}
  
.languages { 
    grid-area: languages;
    height: 100%;
    width: 100%;
}
  
.Technology- { 
    grid-area: Technology-;
    background-color: #252a33;
    /* background-color: rgba(255,255,255,0.15); */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.box{
    padding: 0 1rem 1rem 1rem;
}

.box .dot{
    height: 1rem;
    width: 1rem;
    position: relative;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    border-radius: 100%;
}

.box .dot1{
    background-color: #d9515d;
}

.box .dot2{
    background-color: #f4c025;
}

.box .dot3{
    background-color: #3ec930;
}

.box .about_heading{
    display: inline;
    position: relative;
    left: 11rem;
}

.box .box_content{
    padding: 0.5rem 0 0 1rem;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    line-height: 2rem;
}

/* Languages section 3D grid */
.languages .wrap {
    position: relative;
    justify-content: center;
    -webkit-transform: perspective(500px) rotateY(-12deg) rotateX(0deg) rotateZ(0deg) translateZ(0) translateX(-40px) scale(0.55);
    transform: perspective(500px) rotateY(-12deg) rotateX(0deg) rotateZ(0deg) translateZ(0) translateX(-40px) scale(0.55);
    display: -ms-grid;
    display: grid;
    -moz-column-gap: 1.3rem;
    -webkit-column-gap: 1.3rem;
    column-gap: 2rem;
    row-gap: 2rem;
    -ms-grid-columns: 20rem;
    grid-template-columns: repeat(4, 20rem);
    -ms-grid-rows: 15rem;
    grid-template-rows: repeat(2, 15rem);
    cursor: pointer;
}

.languages .tile {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid transparent;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    will-change: border-color, transform, box-shadow;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.languages .tile:nth-child(2),
.languages .tile:nth-child(3){
    height: 10rem;
}

.languages .tile:nth-child(6) {
    position: relative;
    top: -5rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    height: 20rem;
}

.languages .tile:nth-child(1) img,
.languages .tile:nth-child(5) img{
    width: 20rem;
    height: 17rem;
}

.languages .tile:nth-child(2) img{
    width: 20rem;
    height: 11rem;
}

.languages .tile:nth-child(3) img{
    width: 20rem;
    height: 10rem;
}

.languages .tile:nth-child(4) img{
    width: 19rem;
    height: 17rem;
}

.languages .tile:nth-child(6) img {
    height: 20rem;
}

.languages .tile:nth-child(7) img{
    width: 19rem;
    height: 16rem;
}

/* hover effect */
.languages .tile:hover,
.languages .tile:focus-visible {
  transform: scale(1.1);
  box-shadow: 0 0 1.5rem hsl(0 0% 100% / 0.8);
}

/* Technologies section */

.technology_box{
    padding: 0 1rem 1rem 1rem;
}


.technology_box .dot{
    height: 1rem;
    width: 1rem;
    position: relative;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    border-radius: 100%;
}

.technology_box .dot1{
    background-color: #d9515d;
}

.technology_box .dot2{
    background-color: #f4c025;
}

.technology_box .dot3{
    background-color: #3ec930;
}

.technology_box .technology_heading{
    display: inline;
    position: relative;
    left: 30rem;
}

.technology_box .technology_box_content{
    padding: 0.5rem 0 0 1rem;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* bars */
.technology_skills{
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    align-self: flex-start;
}
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 20px;
    background-color: #0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -41px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -7px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }

  .technology_svg{
    width: 38%;
  }

  .technologySVG{
    height: 100%;
    width: 100%;
  }

  /* Languages */

.s_languages{
    grid-area: s_languages;
    background-color: #252a33;
    /* background-color: rgba(255,255,255,0.15); */
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin-top: 5rem;
}

.s_languages_box{
    padding: 0 1rem 1rem 1rem;
}


.s_languages_box .dot{
    height: 1rem;
    width: 1rem;
    position: relative;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    border-radius: 100%;
}

.s_languages .dot1{
    background-color: #d9515d;
}

.s_languages_box .dot2{
    background-color: #f4c025;
}

.s_languages_box .dot3{
    background-color: #3ec930;
}

.s_languages_box .s_languages_heading{
    display: inline;
    position: relative;
    left: 27rem;
}

.s_languages_box .s_languages_box_content{
    padding: 0.5rem 0 0 1rem;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* bars */
.s_languages_skills{
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    align-self: flex-end;
    flex-direction: row-reverse;
}
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 20px;
    background-color: #0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -41px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -7px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }

  .s_languages_svg{
    width: 28%;
    position: relative;
    left: 3rem;
    top: 3rem;
    transform: scale(1.2);
  }

  .s_languagesSVG{
    height: 100%;
    width: 100%;
  }

.bm{
    margin: 4rem 0;
    height: 1px;
    position: relative;
    bottom: 0;
}