*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

#progressbar {
  background: linear-gradient(0deg,#6617ce,#008aff,#00ffe7);
  animation: scrollanimate 3s linear infinite;
}

#progressbar, #scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
}

@keyframes scrollanimate {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

50% {
    -webkit-filter: hue-rotate(20deg);
    filter: hue-rotate(20deg);
  }
}

.late{
  animation: late 6s linear;
}

@keyframes late {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}