/* to remove the scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
}

/* linear-gradient(270deg, #13ADC7 0%, #945DD6 100%) */
.sectionDivider {
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  /* background: linear-gradient(270deg, #F46737 0%, #945DD6 100%); */
  background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
  margin: 3rem 0;
}

.gradient__bg {
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.css-1tokw9w {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  border-radius: 100%;
  position: absolute;
  background: #bee3f8;
  opacity: 0.1;
  z-index: 1;
  right: 0.65rem;
  width: 18.75rem;
  height: 18.75rem;
  align-self: flex-end;
}

.css-jfjuh7 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  border-radius: 100%;
  position: absolute;
  background: #bee3f8;
  opacity: 0.1;
  z-index: 1;
  right: 37.5rem;
  top: 15.625rem;
  width: 28.125rem;
  height: 28.125rem;
  align-self: flex-start;
}

.animateme1 {
  animation: animate1 15s linear infinite;
}

.animateme2 {
  animation: animate2 10s linear 0s infinite normal none running;
}

#progressbar {
  background: linear-gradient(0deg, #6617ce, #008aff, #00ffe7);
  animation: scrollanimate 3s linear infinite;
}

#progressbar, #scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.375rem;
  height: 100%;
}

@keyframes animate1 {
  0% {
    transform: scale(.5);
  }

  25% {
    transform: scale(.6);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(.6);
  }

  100% {
    transform: scale(.5);
  }
}

@keyframes animate2 {
  0% {
    transform: scale(0.7);
  }

  25% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(0.7);
  }
}

@keyframes scrollanimate {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(20deg);
    filter: hue-rotate(20deg);
  }
}

.late {
  animation: late 6s linear;
}

@keyframes late {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* Media Quaries */
@media screen and (max-width: 768px) {
  .sectionDivider {
    width: 48px;
    height: 4px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .sectionDivider {
    width: 32px;
    height: 2px;
  }
}